# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Large data
data/oulad/*
data/raw/*
data/processed/*
!data/oulad/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep
!models/.gitignore

# OS
.DS_Store
Thumbs.db